body{
    margin:0;
}
.container{
    display: flex;
    flex-direction: column;
    min-height: 1000px;
    background-image: url("https://images.vexels.com/media/users/2432/70041/raw/571be51846fc4a2f952f75be8b23dccc-blue-background-with-blurry-bokeh-bubbles.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.header{
    display: flex;
    flex-direction: row;
    background-color: rgba(59, 56, 56, 0.212);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    
    
}
.logo{
    padding-left: 5px;
    
}
.header a{
    text-decoration: none;
    color:whitesmoke;
}
.header h2:hover{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgba(255, 255, 255, 0.884);
}
.info{
    display: flex;
    flex-direction: row;
    align-items: center;
   
}
.klik{
    background-color: black;
    color: rgba(245, 245, 245, 0.938);
    cursor: pointer;
    border: none;
    font-size: 17px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}
p{
    padding: 5px;
}
@media screen and (max-width: 680px) {
    .header{
        display: flex;
        flex-direction: column;  
        text-align: center;
    }
    .idname{
        width: 60px;
    }
    .passw{
        width: 80px;
    }
    .inlogad{
        font-size: 10px;
    }
    .time{
        font-size: 0px;
        display: none;
    }
   
}

.content{
    margin-top: 140px;
}
.inlogad{
    margin:auto;
    width: 60%;
    height: 300px;
    background-color: rgba(59, 56, 56, 0.212);
    border-radius: 5px;
    text-align: center;
    padding-top: 30px;   
}
.dropbtn {
    background-color: black;
    color: rgba(245, 245, 245, 0.938);
    padding: 5px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.plus{
    padding: 5px;
}
.dropdown {
    padding: 5px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 15px 10px;
    text-decoration: none;
    display: block;
    
}
.dropdown-content a:hover {
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropbtn:hover{
    background-color:rgba(161, 161, 255, 0.836);
}
.forgotPass{
    margin:auto;
    width: 60%;
    height: 300px;
    background-color:rgba(59, 56, 56, 0.212);
    border-radius: 5px;
    text-align: center;
    padding-top: 30px;  
}
.footer{
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgba(59, 56, 56, 0.212);
}
.already{
    margin:auto;
    width: 60%;
    height: 300px;
    background-color:rgba(59, 56, 56, 0.212);
    border-radius: 5px;
    text-align: center;
    padding-top: 30px;
}
.time{
    padding-right: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
}
.footer>div{
    margin:10px;  
    width: 80px;
    line-height: 50px;
    background-color: rgba(59, 56, 56, 0.658);
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
}
.footer>div:hover{
    background-color: black;
}
.footer>div a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.list{
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 300px;
    background-color:rgba(59, 56, 56, 0.212);
    border-radius: 5px;
    justify-content: space-around;
    padding-top: 30px;  

}
.list>div {
    
    
}
.bETL{
    border:none;
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
}