body{
    margin:0;
}
.container{
    display: flex;
    flex-direction: column;
    
}
.header{
    display: flex;
    flex-direction: row;
    background-color: gainsboro;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    
    
}
.logo{
    padding-left: 5px;
    
}
.header a{
    text-decoration: none;
    color:black;
}
.header h2:hover{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgba(0, 0, 0, 0.493);
}
.info{
    display: flex;
    flex-direction: row;
    align-items: center;
   
}
.klik{
    background-color: black;
    color: rgba(245, 245, 245, 0.938);
    cursor: pointer;
    border: none;
    font-size: 17px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}
p{
    padding: 5px;
}
@media screen and (max-width: 650px) {
    .header{
        display: flex;
        flex-direction: column;  
        text-align: center;
    }
    .idname{
        width: 60px;
    }
    .passw{
        width: 80px;
    }
    .inlogad{
        font-size: 10px;
    }
   
}

.content{
    margin-top: 140px;
}
.inlogad{
    margin:auto;
    width: 60%;
    height: 300px;
    background-color: gainsboro;
    border-radius: 5px;
    text-align: center;
    padding-top: 30px;   
}
.dropbtn {
    background-color: black;
    color: rgba(245, 245, 245, 0.938);
    padding: 5px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.plus{
    padding: 5px;
}
.dropdown {
    padding: 5px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 15px 10px;
    text-decoration: none;
    display: block;
    
}
.dropdown-content a:hover {
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropbtn:hover{
    background-color: #ff0000;
}
.forgotPass{
    margin:auto;
    width: 60%;
    height: 300px;
    background-color: gainsboro;
    border-radius: 5px;
    text-align: center;
    padding-top: 30px;  

}